.distance {
  margin-top: 1rem;
  padding: 1rem;
}

.button {
  border: 2px solid #ab47bc;
  color: #7b1fa2;
  width: 100%;
}

.wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.chip {
  background: linear-gradient(60deg,#ab47bc,#7b1fa2);
  color: white;
}